*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --color-primary-orange: #EA6D27;
    --color-secondary-white: #FFFFFF;
    --color-secondary-black: #101821;
    --color-secondary-l-gray: #5C6574;
    --color-alerts-green: #004E05;
    --color-alerts-red: #770000;

    --font-headline-h1-size: 60px;
    --font-headline-h2-size: 48px;
    --font-headline-h3-size: 28px;
    --font-headline-h4-size: 22px;
    --font-body-size: 16px;
    --font-buton-size: 20px;

    --font-title: "David Libre", serif;
    --font-body: "Inter", sans-serif;
    
}