@import url("./global.css");

header{

    display: flex;
    justify-content: space-around; /* justify-content = cuida da linha horizontal */
    align-items: center;  /* align-items = cuida da linha vertical */
    padding: 20px 0px;

}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 30px;

}

.nav-header ul li a{
    color: var(--color-secondary-black);
    text-decoration: none;
    font-family: var(--font-body);   
    font-size: var(--font-body-size);
}

.btn-header{
    background-color: var(--color-primary-orange);
    color: var(--color-secondary-white);
    padding: 12px 30px;
    border-radius: 15px 3px ;
    text-decoration: none;
    font-family: var(--font-title);
    font-size: var(--font-button-size);
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 60px 0px;

}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

h1{
    font-size: var(--font-headline-h1-size);
    font-family: var(--font-title);
    width: 562px;
}

.highlighted-word{
    color: var(--color-primary-orange);
}

.content-main p{
    font-size: var(--font-body-size);
    color: var(--color-secondary-l-gray);
    font-family: var(--font-body) ;
    width: 544px;
    line-height: 30px;

}

.container-btn-main{
    display: flex;
    gap: 20px;
}