@import url("./global.css");

header{

    display: flex;
    justify-content: space-around; /* justify-content = cuida da linha horizontal */
    align-items: center;  /* align-items = cuida da linha vertical */
    padding: 20px 0px;

}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 30px;

}

.nav-header ul li a{
    color: var(--color-secondary-black);
    text-decoration: none;
    font-family: var(--font-body);   
    font-size: var(--font-body-size);
}

.btn-header{
    background-color: var(--color-primary-orange);
    color: var(--color-secondary-white);
    padding: 12px 30px;
    border-radius: 15px 3px ;
    text-decoration: none;
    font-family: var(--font-title);
    font-size: var(--font-button-size);
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 60px 0px;

}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

h1{
    font-size: var(--font-headline-h1-size);
    font-family: var(--font-title);
    width: 562px;
}

.highlighted-word{
    color: var(--color-primary-orange);
}

.content-main p{
    font-size: var(--font-body-size);
    color: var(--color-secondary-l-gray);
    font-family: var(--font-body) ;
    width: 544px;
    line-height: 30px;

}

.container-btn-main{
    display: flex;
    gap: 20px;
}

.section-differences{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-orange-10);
    padding: 60px 0px;
    gap: 40px;

} 

.differences-cards-container{
    display: flex;
    gap: 70px;
}

.differences-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-secondary-l-gray);
    border-radius: 10px;
    height: 260px;
    width: 257px;
    padding: 20px;
    gap: 10px;
    text-align: center;
}

.differences-card h3{
    font-family: var(--font-title);
    font-size: var(--font-headline-h3-size);
    width: 181px;
    height: 56px ;
}

.differences-card p{
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    width: 227px;
    height: 60px;
    color: var(--color-secondary-l-gray);
    line-height: 30px;    
}

.section-chef{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
}

.content-chef{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content-chef h2{
    width: 433px;
    line-height: 60px;
}

.content-chef p{
    width: 503px;
    line-height: 30px;
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    color: var(--color-secondary-l-gray);

}

.section-featured-dishes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 60px 0px;
    background-color: var(--color-primary-orange-10)
}

.container-cards-dishes{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 101px;
}

.card-dishes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 300px;
    background-color: var(--color-secondary-white);
    border: 1px solid #D3D3D3;
    border-radius: 20px 5px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.09) ;
    padding: 123px 15px 45px 15px;
    position: relative;
}

.card-dishes img{
    position: absolute;
    top: -101px;
}

.card-dishes h3{
    font-size: var(--font-headline-h3-size);
    font-family: var(--font-title);
    width: 174px;
}

.card-dishes p{
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    line-height: 30px;
    color: var(--color-secondary-l-gray);
    width: 271px;
}

.section-our-environments{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 60px;
}

.container-environments{
    display: flex;
    gap: 20px;
}

.container-environments-left{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.container-environments-left div{
    display: flex;
    gap: 29px;
}